        <!-- Header -->
        <div class="container">
          <div class="header row">
            <div class="logo col-sm-4">
              <h1><a href="#">Fargifts</a><!--span>.</span--></h1>
            </div>
            <div class="call-us col-sm-8">
              <p>Tel: <span>647 773 0346</span> | Email: <span>social at fargifts.com</span></p>
            </div>
          </div>
        </div>

        <!-- Coming Soon -->
        <div class="coming-soon" ng-backstretch="../images/backgrounds/1.jpg,../images/backgrounds/2.jpg,../images/backgrounds/3.jpg">
          <div class="inner-bg">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Unique corporate gifts are coming to town</h2>
                  <p>Natural, organic, handmade, local, with your brand on it. Need we say more?</p>
                  <div class="timer" ng-countdown="2015/01/15">
                    <div class="days-wrapper">
                      <span class="days"></span> <br>days
                    </div>
                    <div class="hours-wrapper">
                      <span class="hours"></span> <br>hours
                    </div>
                    <div class="minutes-wrapper">
                      <span class="minutes"></span> <br>minutes
                    </div>
                    <div class="seconds-wrapper">
                      <span class="seconds"></span> <br>seconds
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 subscribe">
              <h3>Be the first to know when we launch</h3>
              <p>Early birds will always have a special place ( and price) in our heart. Promise!</p>
              <form class="form-inline" ng-submit="submitSignup()">
                
                <!--input type="text" name="email" ng-model="email" placeholder="Enter your email..."-->

                <input type="email" name="input" ng-model="email"  placeholder="Enter your email..." required>

                <button type="submit" class="btn2">Sign up</button>
              </form>
              <div class="success-message"></div>
              <div class="error-message"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 social">
              <a href="https://www.facebook.com/fargifts" target="_blank" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook"></a>
              <a href="https://twitter.com/fargifts" target="_blank" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter"></a>
              <!--a href="" target="_blank" class="dribbble" rel="tooltip" data-placement="top" data-original-title="Dribbble"></a-->
              <!--a href="" class="googleplus" rel="tooltip" data-placement="top" data-original-title="Google Plus"></a-->
              <a href="https://pinterest.com/fargifts" target="_blank"  class="pinterest" rel="tooltip" data-placement="top" data-original-title="Pinterest"></a>
              <!--a href="" class="flickr" rel="tooltip" data-placement="top" data-original-title="Flickr"></a-->
            </div>
          </div>
        </div>